# Build output
bin/
obj/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
*.lock.json

# Logs
*.log

# Dotnet artifacts
*.dll
*.pdb
*.exe
*.appsettings.*.local.json

# OS files
.DS_Store
Thumbs.db
